<nav class="navbar text-black font-light">
  <div class="inner-container flex flex-col items-center ">
    <a (click)="navigateToHome()">
      <img src="TTA_logo.png" alt="Logo" class="w-16 h-16">
    </a>
    <ul class="nav-links flex space-x-6 mt-4">
      <li>
        <a (click)="navigateToAbout()" class="hover:text-yellow-500 transition transform hover:scale-110 cursor-pointer">About</a>
      </li>
      <li>
        <a (click)="logout()" class="hover:text-yellow-500 transition transform hover:scale-110 cursor-pointer">Logout</a>
      </li>
    </ul>
  </div>
</nav>
