/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
  }

  * {
    box-sizing: border-box;
  }

  .content {
    position: relative;
    z-index: 10; /* Ensure content appears above sidebar */
  }