<app-navbar></app-navbar>

<div class="home-container min-h-screen flex flex-col bg-white-900 text-gray-100">
  <header class="header w-full text-gray-200 p-6 text-center flex justify-between items-center">
  </header>

  <main class="main-content flex-1 flex flex-col items-center justify-center p-6">
    <section class="response-container w-full max-w-2xl bg-black text-white rounded-lg shadow-lg p-6 overflow-y-auto flex-1 mb-4">
      <h2 class="text-2x1 font-semibold text-center mb-4">
        Hello! 
        <span class="text-lg font-light">{{email}}</span>
      </h2>
      <div class="responses flex flex-col space-y-4">
        <ng-container *ngFor="let response of responses">
          <div class="response-message p-4 bg-gray-800 rounded-lg text-left">
            <h3 class="text-xl font-semibold">{{email}}</h3>
            <p class="text-lg text-gray-300">{{response.description}}</p>
          </div>
        </ng-container>
      </div>
    </section>
    
    <div class="input-container w-full max-w-2xl bg-black-600 p-4 rounded-lg shadow-lg">
      <div class="flex">
        <input 
          type="text" 
          [(ngModel)]="userInput" 
          placeholder="Type your message..." 
          class="w-full p-2 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-yellow-500 focus:border-transparent text-black"
          />
        <button (click)="sendMessage()" class="bg-black text-white p-2 rounded-lg ml-2 hover:bg-gray-800 transition">
          Send
        </button>
      </div>
    </div>
  </main>

  <app-footer class="w-full text-yellow-500 p-4 text-center">
    <p>&copy; 2024 Your Company. All rights reserved.</p>
  </app-footer>
</div>
